*.ko

/arch/arm/boot/compressed/vmlinux.lds
/arch/arm/boot/Image
/arch/arm/boot/zImage
/arch/arm/kernel/vmlinux.lds
/drivers/char/consolemap_deftbl.c
/drivers/char/defkeymap.c
/include/asm
/include/asm-arm
/include/config
/include/generated
/include/linux/autoconf.h
/include/linux/bounds.h
/include/linux/compile.h
/include/linux/utsrelease.h
/include/linux/version.h
/kernel/timeconst.h
/lib/crc32table.h
/lib/gen_crc32table
/scripts/basic/docproc
/scripts/basic/fixdep
/scripts/basic/hash
/scripts/conmakehash
/scripts/kallsyms
/scripts/kconfig/conf
/scripts/kconfig/gconf
/scripts/kconfig/lex.zconf.c
/scripts/kconfig/lkc_defs.h
/scripts/kconfig/mconf
/scripts/kconfig/qconf
/scripts/kconfig/qconf.moc
/scripts/kconfig/zconf.hash.c
/scripts/kconfig/zconf.tab.c
/scripts/mod/elfconfig.h
/scripts/mod/mk_elfconfig
/scripts/mod/modpost
/usr/gen_init_cpio
